body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A2342;
    color: #fff;
}

header {
    background-color: #0A2342;
    color: #fff;
    text-align: left;
    padding: 20px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

section {
    background-color: #0A2342;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2, .header-text {
    color: #fff;
    font-size: 30px;
}

.project {
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.about img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 600px;
    text-align: left;
    color: #fff;
    padding: 0 20px;
}

h2, p {
    margin: 0;
}
