body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A2342;
    color: #fff;
}

header {
    background-color: #0A2342;
    color: #fff;
    text-align: left;
    padding: 20px;
}

nav ul {
    font-size: 60px;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #EFEFEF; 
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.about, .projects, .skills, .contact {
    background-color: #0A2342; 
    margin: 20px;
    border-radius: 10px;
}

h2, .header-text {
    color: #fff;
    font-size: 30px;
}

.project {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skills-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    font-size: 30px;
    max-width: 100%;
    margin: 0 auto;
}

.about {
    background-color: #0B132B;
    padding: 30px;
    text-align: left;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about img {
    max-width: 100%;
    height: auto;
    margin-right: 40px;
}

.text {
    max-width: 100%;
    color: #fff;
    flex: 1;
}

.section-bg {
    background-color: #0B132B;
    padding: 20px; 
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .about img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .skibbet {
        width: 200px;
        height: 200px;
    }

    .project {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .contact {
        width: 90%;
        margin: 5% auto;
    }

    .skills-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .projects-container {
        flex-direction: column;
    }

    .project {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}

.skibbet {
    width: 300px;
    height: 300px;
    background: url('photo_and_icons/Skibbet.png') 0 0 no-repeat;
    animation: play 5s steps(19) infinite;
}

@keyframes play {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -9500px;
    }
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: calc(50% - 20px); 
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column; 
    }

    .project {
        width: 100%; 
    }
}

.contact {
    background-color: #0B132B;
    width: 80%;
    margin: 5% auto; 
    height: 200px;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact p {
    font-size: 30px; 
    color: #fff; 
    margin: 10px 0; 
}

.contact a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px; 
}

.contact img {
    max-width: 30px; 
    height: auto;
}

.skills {
    background-color: #0B132B; 
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}
